<div class="container">
  <div class="row">
    <div id="col1" class="col-12 col-md-2"></div>
    <div id="col2" class="col-12 col-md-8">
      <br />
      <h4>Users Management</h4>
      <br />
      <form>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="id" [(ngModel)]="formUser.id" name="formUser.id" readonly hidden />
              <label class="form-label" for="formUser.id" hidden>Id</label>
            </div>
          </div>
          <div class="col"></div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="name" [(ngModel)]="formUser.name" name="formUser.name" minlength="3"
                maxlength="50" />
              <label class="form-label" for="formUser.name">Name</label>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="lastName" [(ngModel)]="formUser.lastName" name="formUser.lastName" minlength="3"
                maxlength="50" />
              <label class="form-label" for="formUser.lastName">Last name</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="formUser.phoneNumber" name="formUser.phoneNumber"
                minlength="3" maxlength="50" />
              <label class="form-label" for="formUser.phoneNumber">Phone Number</label>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="username" [(ngModel)]="formUser.username" name="formUser.username" minlength="3"
                maxlength="50" />
              <label class="form-label" for="formUser.lastName">Username</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="email" [(ngModel)]="formUser.email" name="formUser.email" minlength="3"
                maxlength="50" />
              <label class="form-label" for="formUser.email">Email</label>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <input type="password" class="form-control" id="password" [(ngModel)]="formUser.password" name="formUser.password" minlength="3" maxlength="50" />
              <label class="form-label" for="formUser.password">Password</label>
            </div>
          </div>
        </div>

        <div class="form-outline mb-4">
          <button type="button" class="btn btn-primary mb-4" (click)="add()">
            Add
          </button>
        </div>
      </form>

      <hr>

      <h3>Users List</h3>
      <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>id</th>
            <th>name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <td scope="row">{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="col3" class="col-12 col-md-2"></div>
  </div>
</div>