<div class="container">
  <div class="row">
    <div id="col1" class="col-12 col-md-2"></div>
    <div id="col2" class="col-12 col-md-8">
      <br />
      <h4>Persons Management</h4>
      <br />
      <form>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="id" [(ngModel)]="formPerson.id" name="formPerson.id" readonly hidden />
              <label class="form-label" for="formPerson.id" hidden>Id</label>
            </div>
          </div>
          <div class="col"></div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="name" [(ngModel)]="formPerson.name" name="formPerson.name" minlength="3"
                maxlength="50" />
              <label class="form-label" for="formPerson.name">Name</label>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="lastName" [(ngModel)]="formPerson.lastName" name="formPerson.lastName" minlength="3"
                maxlength="50" />
              <label class="form-label" for="formPerson.lastName">Last name</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="formPerson.phoneNumber" name="formPerson.phoneNumber"
                minlength="3" maxlength="50" />
              <label class="form-label" for="formPerson.phoneNumber">Phone Number</label>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="username" [(ngModel)]="formPerson.username" name="formPerson.username" minlength="3"
                maxlength="50" />
              <label class="form-label" for="formPerson.lastName">Username</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" id="email" [(ngModel)]="formPerson.email" name="formPerson.email" minlength="3"
                maxlength="50" />
              <label class="form-label" for="formPerson.email">Email</label>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <input type="password" class="form-control" id="password" [(ngModel)]="formPerson.password" name="formPerson.password" minlength="3" maxlength="50" />
              <label class="form-label" for="formPerson.password">Password</label>
            </div>
          </div>
        </div>

        <div class="form-outline mb-4">
          <button type="button" class="btn btn-primary mb-4" (click)="add()">
            Add
          </button>
        </div>
      </form>

      <hr>

      <h3>Persons List</h3>
      <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of personList">
            <td scope="row">{{ person.name }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.phoneNumber }}</td>
            <td>{{ person.username }}</td>
            <td>{{ person.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="col3" class="col-12 col-md-2"></div>
  </div>
</div>